<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>ChestRPG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Seu conteúdo existente aqui -->

  <!-- Botão para abrir o modal de criar mesa -->
  
  
    <div class="container">
      <h1 class="title">Mesas</h1>
      <div class ="btn-mesas">
        <ion-button (click)="openCriarModal()">Criar Mesa</ion-button>

      <!-- Botão para abrir o modal de juntar-se à mesa -->
      <ion-button (click)="openJuntarModal()">Juntar-se à Mesa</ion-button>
      </div>
      

    </div>
  
      
    
      
 
    
    
  </ion-content>

