<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input [(ngModel)]="email" name="email" type="email" placeholder="Email"/>
        <input  [(ngModel)]="password" name="password" type="password" placeholder="Senha"/>
        <button (click)="login()">login</button>
        <p class="message">Não tem conta? <a routerLink="/cadastro">Criar conta</a></p>
      </form>
    </div>
  </div>
</ion-content>
