<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ChestRPG</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Política de Privacidade</h2>
  
  <p>A sua privacidade é importante para nós. É política do [Nome do Seu Site/Aplicativo] respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site [seu-site.com] e outros sites que possuímos e operamos.</p>

  <h3>1. Informações que coletamos</h3>
  <p>1.1. [Tipo de informação que você coleta, como endereço de e-mail, nome, etc.]</p>

  <h3>2. Como usamos as suas informações</h3>
  <p>2.1. [Descreva como você utiliza as informações coletadas, por exemplo, para melhorar o site, personalizar a experiência do usuário, etc.]</p>

  <h3>3. Cookies</h3>
  <p>3.1. [Explique se você utiliza cookies e como eles são utilizados no seu site.]</p>

  <h3>4. Como protegemos suas informações</h3>
  <p>4.1. [Descreva as medidas de segurança que você implementa para proteger as informações dos usuários.]</p>

  <h3>5. Compartilhamento de informações</h3>
  <p>5.1. [Caso compartilhe informações com terceiros, explique os motivos e como isso é feito.]</p>

  <h3>6. Alterações nesta política de privacidade</h3>
  <p>6.1. [Explique como os usuários serão informados sobre alterações na política de privacidade.]</p>

  <h3>7. Contato</h3>
  <p>7.1. [Forneça informações de contato para dúvidas ou preocupações relacionadas à privacidade.]</p>
</ion-content>
