<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input [(ngModel)]="username" name="username" type="text" placeholder="Nome de usuário"/>
        <input [(ngModel)]="email" name="email" type="text" placeholder="Email"/>
        <input [(ngModel)]="password" name="password" type="password" placeholder="Senha"/>
        
        <button (click)="register()">create</button>
      </form>
    </div>
  </div>
</ion-content>
