<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mesas"></ion-back-button>
    </ion-buttons>
    <ion-title>ChestRPG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="title">Crie Sua Mesa</h1>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nome da Mesa</ion-label>
        <ion-input [(ngModel)]="nameTable" type="text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input [(ngModel)]="descriptionTable" type="text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="criarMesa()">Criar Mesa</ion-button>
</ion-content>
